.bgh {
    background: linear-gradient(to left, #0c002b, #B9848C);
  }
  
  .color {
    color: white;
  }
  
  .color:hover {
    border-bottom: 1px solid #B9848C;
  }

  .hideMenuNav {
    display: none;
  }
  .showMenuNav {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .div {
    position: relative;
    width: 80%;
   
    margin: 20px;   
}

.div:after {
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: -5px;
    right: -1px;
    border-top: 3px solid #B9848C;
    border-right: 3px solid #B9848C;
}
.div:before {
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top:99%;
    left: -1px;
    border-bottom: 3px solid #B9848C;
    border-left: 3px solid #B9848C;
}