

.logo-pic {
    box-shadow: 0 0 10px #94C0D0;
}

.logo-pic:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icons:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.neon-text {
    color: #fff; /* Set text color to white */
    text-shadow: 0 0 10px #94C0D0, 0 0 20px #94C0D0, 0 0 40px #94C0D0, 0 0 80px#94C0D0; 
}